.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'Prohibition';
  src: url("../public/fonts/ProhibitionTest-Round.otf") format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paper {
  width: 70%;
  height: 60%;
  padding: 2rem;
  text-align: center;
  overflow: auto;
  position: relative;
  border: 100px solid #0f192c;
}

.logo-container {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
}


.logo {
  width: 100%;
  height: auto;
  max-height: 100px;
}


.content-container {
  margin-top: 70px; 
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.blue-title {
  color: #0060ac;
  font-weight: bold;
}

.arrow-back {
  align-items: flex-start;
  margin-left: 30px;
}

.custom-button {
  background-color: #798093;
  color: #ffffff;
}

